<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Price Prediction</title>
    <style>
		body {
			background-color: #f2f2f2;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
		form {
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
		}
	</style>
</head>
<body>
    <h1>Car Price Prediction</h1>
    <form method="post">
        <label for="brand">Select Brand:</label>
        <select name="brand"  required="required">
            <option value="Ambassador">Ambassador</option>
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Daewoo">Daewoo</option>
            <option value="Datsun">Datsun</option>
            <option value="Fiat">Fiat</option>
            <option value="Force">Force</option>
            <option value="Ford">Ford</option>
            <option value="Honda">Honda</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Isuzu">Isuzu</option>
            <option value="Jaguar">Jaguar</option>
            <option value="Jeep">Jeep</option>
            <option value="Kia">Kia</option>
            <option value="Land">Land Rover</option>
            <option value="MG">MG</option>
            <option value="Mahindra">Mahindra</option>
            <option value="Maruti">Maruti Suzuki</option>
            <option value="Mercedes-Benz">Mercedes Benz</option>
            <option value="Mitsubishi">Mitsubishi</option>
            <option value="Nissan">Nissan</option>
            <option value="OpelCorsa">OpelCorsa</option>
            <option value="Renault">Renault</option>
            <option value="Skoda">Skoda</option>
            <option value="Tata">Tata</option>
            <option value="Toyota">Toyota</option>
            <option value="Volkswagen">Volkswagen</option>
            <option value="Volvo">Volvo</option>
        </select><br>

        <label for="Year">Year:</label>
        <input type="text" name="Year" id="Year" required><br>

        <label for="Driven">Kilometers Driven:</label>
        <input type="text" name="Driven" id="Driven" required><br>

        <label for="Fuel_Type">Fuel Type:</label>
        <select name="Fuel_Type" id="Fuel_Type" required>
            <option value="" selected disabled>Select fuel type</option>
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="CNG">CNG</option>
        </select><br>

        <label for="Seller_Type_Individual">Seller Type:</label>
        <select name="Seller_Type_Individual" id="Seller_Type_Individual" required>
            <option value="" selected disabled>Select seller type</option>
            <option value="Individual">Individual</option>
            <option value="Dealer">Dealer</option>
        </select><br>

        <label for="Transmission_Mannual">Transmission:</label>
        <select name="Transmission_Mannual" id="Transmission_Mannual" required>
            <option value="" selected disabled>Select transmission</option>
            <option value="Mannual">Manual</option>
            <option value="Automatic">Automatic</option>
        </select><br>

        <label for="Owner">Number of Previous Owners:</label>
        <select name="Owner" id="Owner" required>
            <option value="" selected disabled>Select number of previous owners</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3 or more</option>
        </select><br>

        <input type="submit" value="Predict Price">
    </form>

    {% if result %}
        <h2>Price Prediction: {{ result }}</h2>
    {% endif %}
</body>
</html>
